.Grid {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: linear-gradient(rgb(17, 240, 47) 1px, transparent 1px),
    linear-gradient(90deg, rgb(17, 240, 47) 1px, transparent 1px);
    border-width: 6.5px;
    border-style: solid;
    border-color: red green blue yellow;
}
.Board{
    text-align: center;
    margin:"auto";
    height: "auto";
    width:"500px";
    border:"3px solid ";
    border-color: red blue green yellow;
    table-layout:'fixed';
}
.Cell {
    background: #ccc;
    position: absolute;
border-width: 1px;
border-style: solid;
border-color: red 
}
.success{
    color: #000;
}